/* Постійні клієнти */
.clients {
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    /*     display: flex;
    justify-content: space-between; */

    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    /*outline: 2px solid tomato;*/
  }

  & h2 {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.clients-list a {
  /*вирівнює картинку по центру*/
  display: flex;
  width: 170px;
  height: 90px;
  margin-right: 0;

  align-items: center;
  justify-content: center;
  color: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $accent-color;

    border-color: $accent-color;
  }
}

.logo1 {
  width: 44.27px;
  height: 49.23px;

  fill: currentColor;
}

.logo2 {
  width: 40px;
  height: 52px;

  fill: currentColor;
}

.logo3 {
  width: 41px;
  height: 42.6px;

  fill: currentColor;
}

.logo4 {
  width: 79.66px;
  height: 42.02px;

  fill: currentColor;
}

.logo5 {
  width: 59px;
  height: 47px;

  fill: currentColor;
}

.logo6 {
  width: 88.48px;
  height: 45.44px;

  fill: currentColor;
}

/* .clients h2 {
  margin-top: 0;
  margin-bottom: 50px;
} */

@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & a {
      width: 226px;
      /*   width: calc(50% - 15px); */
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 767px) {
  .clients-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

/* @media screen and (max-width: 767px) {
  .clients-list .item:not(:last-child (2)) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .clients-list .item:not(:last-child (3)) {
    margin-bottom: 30px;
  }
} */

// @media screen and (min-width: 1200px) {
//   .clients-list {
//     display: flex;
//     /* flex-wrap: wrap; */
//     justify-content: space-between;
//   }

//   & .item {
//     /*   width: calc(50% - 15px); */
//     margin-bottom: 30px;
//   }
// }
