/* -Особливості- */
.features {
  padding-top: 94px;
  padding-bottom: 64px;

  & p {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: $third-text-color;
  }

  & h3 {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1200px) {
  .features {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  & .item {
    width: calc((100% - 30px * 3) / 4);
    margin-bottom: 30px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.features-icon {
  display: flex;
  height: 120px;

  align-items: center;
  justify-content: center;

  /*вирівнює картинку по центру*/
  background-position: center;
  background-color: $second-bg-color;
  border-radius: 4px;

  & .icon {
    max-width: 70px;
    max-height: 70px;
  }
}

@media screen and (max-width: 767px) {
  .features-list {
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .features-list {
    flex-wrap: wrap;

    & .item {
      width: calc((100% - 30px) / 2);
    }
  }
}

@media screen and (max-width: 767px) {
  .features h3 {
    text-align: center;
  }

  .features-list {
    & .item {
      width: 100%;
    }
  }
}
