/* Наша команда */
.team {
  background-color: $second-bg-color;
  padding-bottom: 0;
  text-align: center;

  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  /*   display: flex;
  justify-content: space-between; */
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  & .item {
    /*  width: 270px; */

    background-color: $second-text-color;
    /* тінь для фону */
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
  }

  &.social {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
  }
}

/* .team-list.social {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
} */

.team-social a {
  /*вирівнює картинку по центру*/
  /* display: flex; */
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;

  color: #afb1b8;

  background-color: $second-text-color;
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $second-text-color;

    background-color: $accent-color;
  }
}

/* .team-list .item {
  width: 270px;
  background-color: $second-text-color; */
/* тінь для фону */
/* box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
} */

.team-social:last-child a {
  margin-right: 0;
}

.team p {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: $third-text-color;
}

.team h3 {
  padding-top: 0;
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team h2 {
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 50px;
}

/* .team-social a:hover {
  background-color: $accent-color;
  color: $second-text-color;
} */

.team-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .item {
      width: 354px;
      /*  width: calc(50% - 15px); */
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 767px) {
  .team-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

/* @media screen and (max-width: 1199px) {
  .team-list .item:not(:last-child (2)) {
    margin-bottom: 30px;
  }
} */

// @media screen and (min-width: 1200px) {
//   .team-list {
//     display: flex;
//     /* flex-wrap: wrap; */
//     justify-content: space-between;
//   }

//   & .item {
//     /*   width: calc(50% - 15px); */
//     margin-bottom: 30px;
//   }
// }

/* @media screen and (max-width: 769px) {
  .team-list {
    flex-wrap: wrap;

    & .item {
      width: calc(50% - 15px);
      margin-bottom: 30px;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
} */
