/*-Логотип-*/
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

/*Частина лого web header */
.logo-web {
  color: #2196f3;
}

/* Частина лого-колір Studio header */
.logo-studio {
  color: #212121;
}

/* Логотип-колір Studio footer */
.footer .logo-studio {
  color: #ffffff;
}
