$primary-text-color: #212121;
$second-text-color: #ffffff;
$third-text-color: #757575;
$fourth-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$second-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$button-bg-color: #2196f3;
