.portfolio .item {
  width: 370px;
  padding: 0;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;

  &:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}
