/*footer logo*/
.footer .logo {
  padding-left: 0;
  margin-left: 0;

  & .logo-address {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .footer .logo .logo-address {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 1199px) {
  .footer .logo {
    margin-bottom: 60px;
    margin-left: 76px;

    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer .logo {
    width: 100%;
    margin-bottom: 60px;
    margin-left: 0;

    text-align: center;
    justify-content: center;
  }
}
