/* ПІДПИСКА */
.footer .subscription {
  // max-width: 570px;
  margin-top: 12px;
  padding-left: 0;
  margin-left: 0;

  /*-Кнопка футера-*/
  & .button {
    padding: 13px 28px;

    & .icon-send {
      width: 24px;
      height: 24px;
      margin-left: 10px;

      fill: $second-text-color;
    }
  }
}

@media screen and (max-width: 1199px) {
  .footer .subscription {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
}

.email-subscription {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }
}

.form-subscription input {
  display: inline-flex;
  // width: 358px;
  min-height: 50px;
  padding: 16px 15px;

  color: $fourth-text-color;

  background: $footer-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  &::placeholder {
    margin-left: 16px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $fourth-text-color;
  }
}

@media screen and (max-width: 1200px) {
  .form-subscription input {
    max-width: 450px;
    // height: 50px;
    padding: 16px 15px;
    margin-bottom: 20px;
  }
}

/*-Кнопка футера-*/
/* .subscription .button {
  padding: 13px 28px;

  & .icon-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;

    fill: $second-text-color;
  }
} */
